body {
  background-color: burlywood;
}
header > img { width: 150px; }
header {
   background-color: coral;
   color: white;
   font-size: 1.2em;
}
nav {  background-color: brown; }
nav a { color: white }
footer { 
  background-color: coral;
    color: white
}
body {
  margin: 0;
  height: 100vh;
}
header {
   padding:10px;
}
header > section {
  text-align: center
}
nav {  
  padding:10px;
}
nav a {
  margin:5px;
  padding:5px;
  border: 1px solid white;
}
footer { 
  padding: 10px 20%;
  text-align: right;
}
body {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-areas: 'h h' 'n m' 'f f';
  grid-template-rows: 170px auto 70px;
}
header {
   grid-area: h;
   display: flex;
   align-items: center;
}
header > section {
  width: calc(100% - 320px);
}
nav {  
  display: flex;
  flex-direction: column;
  grid-area: n;
}
footer { 
  grid-area: f;
}
main {
  grid-area: m;
  display: flex;
  align-items: center;
  justify-content: center;
} 